<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base_layouts::head">
<meta charset="utf-8"/>
<title>Insert title here</title>

</head>
<body>
	<nav th:replace="layouts/base_layouts::nav"></nav>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h3 class="text-center mb-3">Listado Valores de Atributos</h3>
				<div class="row justify-content-center mt-4 mb-4">
					<a th:href="@{/vatributos/vatributosform}"><button class="btn btn-success p-1 pl-3 pr-3">AGREGAR VALORES DE ATRIBUTOS</button></a>		
				</div>
				<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
				<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
				<table class="table table-bordered table striped table-hover text-center">
					<thead>
						<tr>
						    <th>ID Atributo</th>
							<th>Valores</th>
							<th>Default</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${homevatributos}">
							<td th:text="${item.vatributo_desc}"></td>
							<td th:text="${item.default_fl}"></td>
								<td><a th:href="@{/vatributos/deletevatributos/}+${item.vatributo_id}" onclick="return confirm('Seguro de eliminar?')"><button class="btn btn-danger" >Eliminar</button></a>
								<td><a th:href="@{/vatributos/updatevatributos/}+${item.vatributo_id}" onclick="return confirm('Seguro de modificar?')"><button class="btn btn-warning" >Modificar</button></a>					 
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layouts/base_layouts::footer"></footer>
</body>
</html>